# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
*.egg-info/

# Docker
*.log
nohup.out
logs/

# Environment
.env
.env.save.*

# Dados locais
*.sql
backup_*.sql
backups/
dags/
ngrok*.log
log.txt

# IDEs
.vscode/
.idea/
.DS_Store
