fastapi
uvicorn[standard]
sqlalchemy
asyncpg
python-dotenv
requests
beautifulsoup4
lxml
rq
redis
prometheus-fastapi-instrumentator
python-jose[cryptography]
passlib[bcrypt]
email-validator
plotly
pandas
apscheduler
pytest
streamlit
psycopg2-binary
psycopg2-binary
loguru
psycopg2-binary
loguru
psycopg2-binary
boto3
pyarrow

pwdlib[argon2]
duckdb
